{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0"
  },
  "servers": [
    {
      "url": "http://apisix.zingdevelopers.com/process-studio",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "Project",
      "description": "management"
    },
    {
      "name": "ProcessDefinition",
      "description": "process definition endpoint"
    },
    {
      "name": "Parameterization",
      "description": "Parameterization Management"
    },
    {
      "name": "EmailAccessMapping",
      "description": "Mapeamentos email → permissões para sistemas externos com token Keycloak sem sessão IRN (docs/SPEC_EMAIL_ACCESS_MAPPING.md). Exige JWT com STUDIO_EMAIL_ACCESS_MAPPINGS:<acao> e cookie de sessão IRN, ou super-admin; um token mapeado ou uma chave M2M recebem 403."
    }
  ],
  "paths": {
    "/email-access-mappings/{id}": {
      "put": {
        "tags": [
          "EmailAccessMapping"
        ],
        "summary": "Editar mapeamento",
        "description": "Substitui permissões, descrição, notas e expiração por inteiro. O email nunca muda: para outro endereço cria-se outro mapeamento. Só mapeamentos activos. Exige STUDIO_EMAIL_ACCESS_MAPPINGS:editar.",
        "operationId": "update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id do mapeamento",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailAccessMappingRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Mapeamento actualizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/EmailAccessMappingDTO"
                }
              }
            }
          },
          "400": {
            "description": "Mapeamento revogado ou inexistente, lista vazia ou permissão inválida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": "invalid permission 'ROLE_DEPT_IGRP.superadmin': expected MODULE:action (roles are not allowed)"
                }
              }
            }
          },
          "403": {
            "description": "Sem a permissão, sem sessão IRN, token mapeado ou chave M2M"
          }
        }
      },
      "delete": {
        "tags": [
          "EmailAccessMapping"
        ],
        "summary": "Revogar mapeamento",
        "description": "Revogação soft (active=false, revokedBy/At), efectiva no pedido seguinte do sistema externo; sem undo. A linha fica para auditoria e o email pode voltar a ser mapeado. Exige STUDIO_EMAIL_ACCESS_MAPPINGS:eliminar.",
        "operationId": "revoke",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id do mapeamento",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Revogado"
          },
          "400": {
            "description": "Id inexistente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": "invalid permission 'ROLE_DEPT_IGRP.superadmin': expected MODULE:action (roles are not allowed)"
                }
              }
            }
          },
          "403": {
            "description": "Sem a permissão, sem sessão IRN, token mapeado ou chave M2M"
          }
        }
      }
    },
    "/api/v1/projects/{projectId}": {
      "get": {
        "tags": [
          "Project"
        ],
        "summary": "GET method to handle operations for getProjectById",
        "description": "GET method to handle operations for getProjectById",
        "operationId": "getProjectById",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ProjectResponseDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Project"
        ],
        "summary": "PUT method to handle operations for updateProject",
        "description": "PUT method to handle operations for updateProject",
        "operationId": "updateProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ProjectResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/process-definitions/{processKey}/diagram": {
      "put": {
        "tags": [
          "ProcessDefinition"
        ],
        "summary": "PUT method to handle operations for diagramEditorProcessDefinition",
        "description": "PUT method to handle operations for diagramEditorProcessDefinition",
        "operationId": "diagramEditorProcessDefinition",
        "parameters": [
          {
            "name": "processKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BpmDiagramDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ProcessDefinitionResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/process-definitions/{processId}": {
      "get": {
        "tags": [
          "ProcessDefinition"
        ],
        "summary": "GET method to handle operations for getProcessDefinitionById",
        "description": "GET method to handle operations for getProcessDefinitionById",
        "operationId": "getProcessDefinitionById",
        "parameters": [
          {
            "name": "processId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ProcessDefinitionResponseDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "ProcessDefinition"
        ],
        "summary": "PUT method to handle operations for updateProcessDefinition",
        "description": "PUT method to handle operations for updateProcessDefinition",
        "operationId": "updateProcessDefinition",
        "parameters": [
          {
            "name": "processId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcessDefinitionRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ProcessDefinitionResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/m2m-keys": {
      "get": {
        "tags": [
          "m-2m-key-controller"
        ],
        "operationId": "list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/M2mKeySummaryDTO"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "m-2m-key-controller"
        ],
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/M2mKeyRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/M2mKeyCreatedDTO"
                }
              }
            }
          }
        }
      }
    },
    "/m2m-keys/{id}/rotate": {
      "post": {
        "tags": [
          "m-2m-key-controller"
        ],
        "operationId": "rotate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/M2mKeyCreatedDTO"
                }
              }
            }
          }
        }
      }
    },
    "/email-access-mappings": {
      "get": {
        "tags": [
          "EmailAccessMapping"
        ],
        "summary": "Listar mapeamentos",
        "description": "Todos os mapeamentos, revogados incluídos, com o trio de auditoria (criado, alterado, revogado por). Estado: active=false → revogado; expiresAt no passado → expirado. Exige STUDIO_EMAIL_ACCESS_MAPPINGS:visualizar.",
        "operationId": "list_1",
        "responses": {
          "200": {
            "description": "Lista de mapeamentos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "$ref": "#/components/schemas/EmailAccessMappingDTO"
                }
              }
            }
          },
          "403": {
            "description": "Sem a permissão, sem sessão IRN, token mapeado ou chave M2M"
          }
        }
      },
      "post": {
        "tags": [
          "EmailAccessMapping"
        ],
        "summary": "Criar mapeamento email → permissões",
        "description": "Concede ao portador de um token Keycloak cujo claim email bate (guardado em minúsculas) as permissões MODULO:acao indicadas, para pedidos sem sessão IRN. Uma linha activa por email. Exige STUDIO_EMAIL_ACCESS_MAPPINGS:criar.",
        "operationId": "create_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailAccessMappingRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapeamento activo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/EmailAccessMappingDTO"
                }
              }
            }
          },
          "400": {
            "description": "Email inválido, lista de permissões vazia, permissão fora de MODULO:acao (ROLE_*/GROUP_* rejeitados) ou email já com mapeamento activo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": "invalid permission 'ROLE_DEPT_IGRP.superadmin': expected MODULE:action (roles are not allowed)"
                }
              }
            }
          },
          "403": {
            "description": "Sem a permissão, sem sessão IRN, token mapeado ou chave M2M"
          }
        }
      }
    },
    "/api/v1/projects": {
      "get": {
        "tags": [
          "Project"
        ],
        "summary": "GET method to handle operations for getProjects",
        "description": "GET method to handle operations for getProjects",
        "operationId": "getProjects",
        "parameters": [
          {
            "name": "appCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "20"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/WrapperListaProjectDTO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Project"
        ],
        "summary": "POST method to handle operations for createProject",
        "description": "POST method to handle operations for createProject",
        "operationId": "createProject",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ProjectResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/{projectId}/process-definitions": {
      "post": {
        "tags": [
          "ProcessDefinition"
        ],
        "summary": "POST method to handle operations for saveProcessDefinition",
        "description": "POST method to handle operations for saveProcessDefinition",
        "operationId": "saveProcessDefinition",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcessDefinitionRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ProcessDefinitionResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/process-definitions/{processKey}/deploy": {
      "post": {
        "tags": [
          "ProcessDefinition"
        ],
        "summary": "POST method to handle operations for deployProcessDefinition",
        "description": "POST method to handle operations for deployProcessDefinition",
        "operationId": "deployProcessDefinition",
        "parameters": [
          {
            "name": "processKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BpmDiagramDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ProcessDefinitionResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/process-definitions/{processId}/variables": {
      "get": {
        "tags": [
          "ProcessDefinition"
        ],
        "summary": "GET method to handle operations for getProcessDefinitionVariables",
        "description": "GET method to handle operations for getProcessDefinitionVariables",
        "operationId": "getProcessDefinitionVariables",
        "parameters": [
          {
            "name": "processId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ProcessVariableResponseDTO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ProcessDefinition"
        ],
        "summary": "POST method to handle operations for addVariablesToProcess",
        "description": "POST method to handle operations for addVariablesToProcess",
        "operationId": "addVariablesToProcess",
        "parameters": [
          {
            "name": "processId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ProcessVariableRequestDTO"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ProcessVariableResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/{projectId}/enable": {
      "patch": {
        "tags": [
          "Project"
        ],
        "summary": "PATCH method to handle operations for enableProject",
        "description": "PATCH method to handle operations for enableProject",
        "operationId": "enableProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/{projectId}/disable": {
      "patch": {
        "tags": [
          "Project"
        ],
        "summary": "PATCH method to handle operations for disableProject",
        "description": "PATCH method to handle operations for disableProject",
        "operationId": "disableProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/process-definitions/{processId}/restore": {
      "patch": {
        "tags": [
          "ProcessDefinition"
        ],
        "summary": "PATCH method to handle operations for restoreProcessDefinition",
        "description": "PATCH method to handle operations for restoreProcessDefinition",
        "operationId": "restoreProcessDefinition",
        "parameters": [
          {
            "name": "processId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/process-definitions/{processId}/delete": {
      "patch": {
        "tags": [
          "ProcessDefinition"
        ],
        "summary": "PATCH method to handle operations for deleteProcessDefinition",
        "description": "PATCH method to handle operations for deleteProcessDefinition",
        "operationId": "deleteProcessDefinition",
        "parameters": [
          {
            "name": "processId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/parameterization/process-definition-state": {
      "get": {
        "tags": [
          "Parameterization"
        ],
        "operationId": "getProcessDefinitionState",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EnumItemString"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/{projectId}/history-process": {
      "get": {
        "tags": [
          "Project"
        ],
        "summary": "GET method to handle operations for getProcessHistoryByProjectId",
        "description": "GET method to handle operations for getProcessHistoryByProjectId",
        "operationId": "getProcessHistoryByProjectId",
        "parameters": [
          {
            "name": "processName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "processKey",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "20"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ProjectResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/{projectId}/deployed-process": {
      "get": {
        "tags": [
          "Project"
        ],
        "summary": "GET method to handle operations for getDeployedProcessByProjectId",
        "description": "GET method to handle operations for getDeployedProcessByProjectId",
        "operationId": "getDeployedProcessByProjectId",
        "parameters": [
          {
            "name": "processName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "processKey",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "20"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ProjectResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/process-definitions": {
      "get": {
        "tags": [
          "ProcessDefinition"
        ],
        "summary": "GET method to handle operations for getProcessDefinition",
        "description": "GET method to handle operations for getProcessDefinition",
        "operationId": "getProcessDefinition",
        "parameters": [
          {
            "name": "appCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "processKey",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "processName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "20"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/WrapperListaProcessDefinitionDTO"
                }
              }
            }
          }
        }
      }
    },
    "/m2m-keys/{id}": {
      "delete": {
        "tags": [
          "m-2m-key-controller"
        ],
        "operationId": "revoke_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "EmailAccessMappingDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "active": {
            "type": "boolean"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "type": "string"
          },
          "userProfileCreatedBy": {
            "$ref": "#/components/schemas/UserProfileDTO"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedBy": {
            "type": "string"
          },
          "userProfileUpdatedBy": {
            "$ref": "#/components/schemas/UserProfileDTO"
          },
          "revokedAt": {
            "type": "string",
            "format": "date-time"
          },
          "revokedBy": {
            "type": "string"
          },
          "userProfileRevokedBy": {
            "$ref": "#/components/schemas/UserProfileDTO"
          }
        }
      },
      "UserProfileDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "fullName": {
            "type": "string"
          },
          "sub": {
            "type": "string"
          }
        }
      },
      "EmailAccessMappingRequestDTO": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "description": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ArtifactVariableResponseDTO": {
        "type": "object",
        "properties": {
          "createdBy": {
            "type": "string"
          },
          "lastModifiedBy": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "userProfileCreatedBy": {
            "$ref": "#/components/schemas/UserProfileDTO"
          },
          "userProfileLastModifiedBy": {
            "$ref": "#/components/schemas/UserProfileDTO"
          },
          "artifactVariableId": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "defaultValue": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          }
        }
      },
      "ProcessArtifactResponseDTO": {
        "type": "object",
        "properties": {
          "createdBy": {
            "type": "string"
          },
          "lastModifiedBy": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "userProfileCreatedBy": {
            "$ref": "#/components/schemas/UserProfileDTO"
          },
          "userProfileLastModifiedBy": {
            "$ref": "#/components/schemas/UserProfileDTO"
          },
          "projectArtifactId": {
            "type": "string"
          },
          "taskKey": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "formKey": {
            "type": "string"
          },
          "subProcessId": {
            "type": "string"
          },
          "subProcessName": {
            "type": "string"
          },
          "artifactVariables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ArtifactVariableResponseDTO"
            }
          },
          "subProcessTask": {
            "type": "boolean"
          }
        }
      },
      "ProcessDefinitionResponseDTO": {
        "type": "object",
        "properties": {
          "processDefinitionId": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "project": {
            "$ref": "#/components/schemas/ProjectSummaryDTO"
          },
          "processKey": {
            "type": "string"
          },
          "bpmnDiagramUrl": {
            "type": "string"
          },
          "bpmFileContent": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "version": {
            "type": "integer",
            "format": "int32"
          },
          "status": {
            "type": "string"
          },
          "statusDesc": {
            "type": "string"
          },
          "deploymentId": {
            "type": "string"
          },
          "createdBy": {
            "type": "string"
          },
          "lastModifiedBy": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "userProfileCreatedBy": {
            "$ref": "#/components/schemas/UserProfileDTO"
          },
          "userProfileLastModifiedBy": {
            "$ref": "#/components/schemas/UserProfileDTO"
          },
          "deploymentDate": {
            "type": "string"
          },
          "processArtifacts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProcessArtifactResponseDTO"
            }
          }
        }
      },
      "ProjectResponseDTO": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "appCode": {
            "type": "string"
          },
          "createdBy": {
            "type": "string"
          },
          "lastModifiedBy": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "userProfileCreatedBy": {
            "$ref": "#/components/schemas/UserProfileDTO"
          },
          "userProfileLastModifiedBy": {
            "$ref": "#/components/schemas/UserProfileDTO"
          },
          "processDefinitions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProcessDefinitionResponseDTO"
            }
          }
        }
      },
      "ProjectSummaryDTO": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "appCode": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "ProjectRequestDTO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "appCode": {
            "type": "string"
          }
        }
      },
      "BpmDiagramDTO": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "content"
        ]
      },
      "ProcessDefinitionRequestDTO": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "processKey": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "DRAFT",
              "VALIDATED",
              "PUBLISHED",
              "DEPRECATED",
              "ARCHIVED",
              "DISABLED",
              "ERROR",
              "DELETED"
            ]
          }
        }
      },
      "M2mKeyRequestDTO": {
        "type": "object",
        "properties": {
          "clientName": {
            "type": "string"
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "email": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "M2mKeyCreatedDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "clientName": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "createdBy": {
            "type": "string"
          },
          "userProfileCreatedBy": {
            "$ref": "#/components/schemas/UserProfileDTO"
          }
        }
      },
      "ProcessVariableResponseDTO": {
        "type": "object",
        "properties": {
          "createdBy": {
            "type": "string"
          },
          "lastModifiedBy": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "userProfileCreatedBy": {
            "$ref": "#/components/schemas/UserProfileDTO"
          },
          "userProfileLastModifiedBy": {
            "$ref": "#/components/schemas/UserProfileDTO"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "defaultValue": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          },
          "processDefinitionId": {
            "type": "string"
          }
        }
      },
      "ProcessVariableRequestDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "defaultValue": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          }
        }
      },
      "EnumItemString": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "label": {
            "type": "string"
          }
        }
      },
      "M2mKeySummaryDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "clientName": {
            "type": "string"
          },
          "keyPrefix": {
            "type": "string"
          },
          "permissions": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "type": "string"
          },
          "userProfileCreatedBy": {
            "$ref": "#/components/schemas/UserProfileDTO"
          },
          "lastUsedAt": {
            "type": "string",
            "format": "date-time"
          },
          "revokedAt": {
            "type": "string",
            "format": "date-time"
          },
          "revokedBy": {
            "type": "string"
          },
          "userProfileRevokedBy": {
            "$ref": "#/components/schemas/UserProfileDTO"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedBy": {
            "type": "string"
          },
          "userProfileUpdatedBy": {
            "$ref": "#/components/schemas/UserProfileDTO"
          }
        }
      },
      "WrapperListaProjectDTO": {
        "type": "object",
        "properties": {
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "last": {
            "type": "boolean"
          },
          "first": {
            "type": "boolean"
          },
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectResponseDTO"
            }
          }
        }
      },
      "ProcessDefinitionResponseLightDTO": {
        "type": "object",
        "properties": {
          "processDefinitionId": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "project": {
            "$ref": "#/components/schemas/ProjectSummaryDTO"
          },
          "processKey": {
            "type": "string"
          },
          "bpmnDiagramUrl": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "version": {
            "type": "integer",
            "format": "int32"
          },
          "status": {
            "type": "string"
          },
          "statusDesc": {
            "type": "string"
          },
          "deploymentId": {
            "type": "string"
          },
          "deploymentDate": {
            "type": "string"
          },
          "createdBy": {
            "type": "string"
          },
          "lastModifiedBy": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "userProfileCreatedBy": {
            "$ref": "#/components/schemas/UserProfileDTO"
          },
          "userProfileLastModifiedBy": {
            "$ref": "#/components/schemas/UserProfileDTO"
          }
        }
      },
      "WrapperListaProcessDefinitionDTO": {
        "type": "object",
        "properties": {
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "last": {
            "type": "boolean"
          },
          "first": {
            "type": "boolean"
          },
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProcessDefinitionResponseLightDTO"
            }
          }
        }
      }
    }
  }
}
